{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container menu-container">
    <div class="row">
        <!-- Left Column -->
        <div class="col-12 col-lg-6">
            <!-- Starters -->
            <div class="row">
                <div class="col-12">
                    <h1 class="menu-title">Starters</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Bread & olives</h6>
                    <p>Freshly baked bread with a olive oil and balsamic vinegar dips, with green and black olives</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£4.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Bruschetta</h6>
                    <p>Tomatoes with red onion and basil, served on freshly baked bread, with a balsamic drizzle</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£5.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Calamari</h6>
                    <p>Crispy squid, served with aoili</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£6.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Antipasti</h6>
                    <p>A sharer starter with a mix of cured meats, freshly baked bread, cheese, olives, salad and roasted red peppers</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£13.99</h6>
                </div>
            </div>
            <!-- Pasta Menu -->
            <div class="row">
                <div class="col-12">
                    <h1 class="menu-title">Pasta</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Carbonara</h6>
                    <p>Spagetti in a carbonara sauce with pancetta</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£12.49</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Prawn Linguine</h6>
                    <p>Prawns with freshly made linguine, rich tomatoes, garlic, and a hint of lemon</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£14.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Spagetti Bolognese</h6>
                    <p>Spagetti with rich beef and tomato ragu</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£11.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Lasagne</h6>
                    <p>Layers of egg pasta filled with rich beef ragu and bechamel sauce</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£13.49</h6>
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-12 col-lg-6">
            <!-- Pizza Menu -->
            <div class="row">
                <div class="col-12">
                    <h1 class="menu-title">Pizza</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Margherita</h6>
                    <p>Tomato sauce, mozzarella, basil</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£10.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Pepperoni</h6>
                    <p>Tomato, mozzarella, pepperoni</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£11.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Siciliana</h6>
                    <p>Tomato, mozzarella, ham, anchovies, artichokes, pepperoni, olives</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£12.99</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Chicago</h6>
                    <p>Tomato, mozzarella, cheddar, ground beef, red onion</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£13.49</h6>
                </div>
            </div>
            <!-- Dessert Menu -->
            <div class="row">
                <div class="col-12">
                    <h1 class="menu-title">Dessert</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Tiramisu</h6>
                    <p>Espresso soaked sponge, layered with mascarpone</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£6.49</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Affogato</h6>
                    <p>Three scoops of vanilla ice cream, served with a shot of espresso and amaretti biscuits</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£5.49</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Chocolate melt</h6>
                    <p>Warm chocolate pudding with a melted chocolate centre, served with vanilla ice cream</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£7.49</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-10 food-container">
                    <h6>Lemon cheesecake</h6>
                    <p>Lemon cheesecake, served with lemon curd and vanilla ice cream</p>
                </div>
                <div class="col-2 price-container">
                    <h6>£6.99</h6>
                </div>
            </div>
        </div>
        <div class="col-12 drinks-container">
            <h1 class="menu-title">Tea and coffee</h1>
            <p>Freshly ground coffee and a variety of flavours of loose leaf tea availble upon request</p>
        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}