{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
    <div class="container col-11 col-md-7 col-lg-5 col-xl-4 p-3">
        <h1 class="menu-title">Cancel Booking</h1>
        <p class="text-center">Are you sure you want to cancel this booking?</p>
        <form class="text-center" method="post" action="{% url 'cancel_reservation' reservation.id %}">
            {% csrf_token %}
            <button class="btn btn-primary home-btn" type="submit">Cancel</button>
            <a class="btn btn-primary home-btn" href="{% url 'reservations' %}">Back</a>
        </form>
    </div>
</div>
{% endblock content %}